* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    
}

.header h1 .seo {
    color: #d9dcd6;
    font-style: normal;
}

/* I changed the div to a nav in the next 3 .header elements because I replaced the div with a nav on the HTML side to have more detailed semantic tags.   */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* I combined all the different classes in each of the sections into one because the styles it was adding were exactly the same */
.benefit-individual {
    margin-bottom: 32px;
    color: #ffffff;
}
/* I did a simialr thing for the .benefit-individual h3 class because all the headers in each of the 3 sections had the exact same style attributes. */
.benefit-individual h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* All 3 images also had the same style attributes so I combined it into one class */
.benefit-individual img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* The 3 sections that cover the 3 different services this company provides had the same style elements so I put it all under one class  */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* The images in all 3 sections of the services all had a max-height of 200px so I put it under one class  */
.services img {
    max-height: 200px;
}
/* The H2 header was for all the services so it was more efficient to put it under one class */
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* This class needed to be changed to .footer h4 instead of .footer h2 because the heading attributes had to be in sequential order for the HTML part  */
.footer h4 {
    font-size: 20px;
}
